a {
    text-decoration: none;
    color: inherit;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    margin: 0;
    display: inline-block;
}
.ancho-movil {
    width: 414px;
}