/*colores*/
$blanco:#fff;
$verde-seccion:#D9E4CC;
$verde-boton:#6C933E;
$gris:#4A4A4A;
$negro:#000;

/*@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/robotoslab/RobotoSlab-Bold.woff2')
    format('woff2');
    font-weight: bold;
    font-style: normal;
}

*/





