@use"../core/variables" as vars;

.hero-container {
    max-width: 100%;
    position: relative;
    text-align: center;
    color: vars.$negro;
    z-index: 1;
}
h1 {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
}
.imagen-niña-hero {
    max-width: 100%;
    height: auto;
}