@use"../core/variables" as vars;
/*@use"../fonts/variables" as vars;*/

.tienda-seccion-blanca {
    background-color: vars.$blanco;
    padding-left: 3%;

}
h2 {color: vars.$verde-boton;
    font-size: 18px;
    font-weight: lighter;
    line-height: 30%;
    /* font-family: */
    margin-top: 15%;
    margin-right: 0%;

}
h3 {
    font-size: 29px;
    margin-right: 2%;
    margin-top: 4%;
    color: vars.$negro;

}
p {
    color: vars.$gris;
    line-height: 1.5;
    font-size: 26px;
    margin-left: 0;
    margin-top: 8px;
}
.boton-comprar {
    padding: 10px 20px;
    background-color: transparent;   
    color: vars.$verde-boton;
    border: 3px solid vars.$verde-boton;
    border-radius: 25px;
    text-align: center;
    margin-top: 50px;
    width: 55%;
    font-size: 700;
    /*font-family: ;*/ 
}
b {font-size: 23px;}
