@use"../core/variables" as vars;

.vuelta-seccion-verde {
    background-color: vars.$verde-seccion;
    height: 925px;
    z-index: -1;
    position: relative;
}
.container-texto-verde {
    z-index: 0;
    padding-top: 6%;
    margin-top: 6%;
    text-align: center;
    p { 
        color: vars.$gris;
        font-size: 18px;
    }
    h4 {
        margin-top: 1%;
        color: vars.$negro;
    }
    
}
article {
    margin-top: 5%;
    padding: 0 20%;
}

.tres-imagenes-verde {
    max-width: 30%;
    border-radius: 50%;
    max-width: 160px;
    border-radius: 50%;
    box-shadow: 0px 10px 0px 0px rgba($color: #615f5f, $alpha: 0.2);
    margin-left: 20%;
    }
.textos-imagenes-verde {
    color: vars.$negro;
    text-align: center;
    margin-top: 3%;
    
}
.empezar-ahora {
    padding: 10px 20px;
    background-color: vars.$verde-boton;
    color: vars.$blanco;
    border: 0px solid;
    border-radius: 45px;
    height: 60px;
    max-height: 200px;
    width: 265px;
    display: inline-block;
    margin-top: -6%;
    margin-left: 19%;
}
