

<footer class="footer" class="ancho-movil">
    <a href="#hero.html">
        <img class="footer-flecha" src="/images/ico-arrow.svg" alt="flecha-hacia-arriba">
    </a>
    <nav class="footer-menu-enlaces">
        <ul class="lista-elementos-1">
            <li> <a href="https://adalab.es/"></a>Zapatillas</li>
            <li> <a href="https://adalab.es/"></a>Ropa</li>
            <li> <a href="https://adalab.es/"></a>Destacados</li>
            <li> <a href="https://adalab.es/"></a>Tips</li>
        </ul>
        <ul class="lista-elementos-2">
            <li> <a href="https://adalab.es/"></a>Twiter</li>
            <li> <a href="https://adalab.es/"></a>Instagram</li>
            <li> <a href="https://adalab.es/"></a>Youtube</li>
        </ul>
    </nav>
    <div class="palabras-final-footer">
        <p>2023 we run</p>
    </div>
</footer>