

<footer class="footer" class="ancho-movil">
    <a href="#hero.html">
        <img class="footer-flecha" src="/images/ico-arrow.svg" alt="flecha-hacia-arriba">
    </a>
    <nav class="footer-menu-enlaces">
        <ul class="lista-elementos-1">
            <li> <a href="https://adalab.es/"></a>ZAPATILLAS</li>
            <li> <a href="https://adalab.es/"></a>ROPA</li>
            <li> <a href="https://adalab.es/"></a>NIÑO/A</li>
            <li> <a href="https://adalab.es/"></a>DESTACADOS</li>
            <li> <a href="https://adalab.es/"></a>TIPS</li>
        </ul>
        <ul class="lista-elementos-2">
            <li> <a href="https://adalab.es/"></a>TWITER</li>
            <li> <a href="https://adalab.es/"></a>INSTAGRAM</li>
            <li> <a href="https://adalab.es/"></a>YOUTUBE</li>
        </ul>
    </nav>
    <div class="palabras-final-footer">
        <p class="copy-2023-run">&copy; 2023 </p>
        <p class="copy-2023-run">we <span class="corazon-verde"></span> run</p>
    </div>
</footer>