<section id="verde.html" class="vuelta-seccion-verde">
    <p>Prepáralos con tus marcas favoritas</p>
    <h4>VUELTA AL COLE</h4>
    <section class="container-imagenes-vuelta">
        <div class="tres-imagenes-verde"> <img src="/images/lpbts-mod05-img01-desk.png" alt="niña-con-mochila"> </div>
        <div class="textos-imagenes-verde"> <p>Mochilas escolares</p> </div>
        <div class="tres-imagenes-verde"> <img src="/images/lpbts-mod05-img04-mob.png" alt="niño-lápices"> </div>
        <div class="textos-imagenes-verde"> <p>Estuches</p> </div>
        <div class="tres-imagenes-verde"> <img src="/images/lpbts-mod05-img03-mob.png" alt="niña-bolsa"> </div>
        <div class="textos-imagenes-verde"> <p>Bolsas de deporte</p> </div>
    </section>
    <button class="empezar-ahora">Empezar ahora</button>
</section>