<section id="verde.html" class="vuelta-seccion-verde" class="ancho-movil">
<div class="container-texto-verde">
    <b>
        <p>¡Prepáralos con tus marcas favoritas!</p>
    </b>
    <b>
        <h4>VUELTA AL COLE</h4>
    </b>
    
</div>
<article> 
    <img class="tres-imagenes-verde" src="/images/lpbts-mod05-img01-desk.png" alt="niña-con-mochila">
        <b>
        <p class="textos-imagenes-verde">Mochilas escolares</p>
        </b> 
</article>
<article> 
    <img class="tres-imagenes-verde" src="/images/lpbts-mod05-img04-mob.png" alt="niño-lápices">
        <b>
        <p class="textos-imagenes-verde">Estuches</p>
    </b> 
</article>
<article> 
    <img class="tres-imagenes-verde" src="/images/lpbts-mod05-img03-mob.png" alt="niña-bolsa">
        <b>
        <p class="textos-imagenes-verde">Bolsas de deporte</p> 
        </b>
    
</article>
    <button class="empezar-ahora">
        <b>
            Empezar ahora
        </b>
    </button>
</section>